@CHARSET "UTF-8";

.e-head-logo {
    background-image: url('../images/e-head-logo.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 75px;
}

.mb-logo {
    background-image: url('../images/logo_mexicanburger_24x24.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.mb-splash {
    background-image: url('../images/content-splash.jpg');
    background-repeat: repeat-y;
    color: white;
}

.mb-clear {
    background: none;
}

.x-row-expired {
    background: #FFFF99;
}
.x-row-success {
    background: #99FF99;
}
.x-row-error {
    background: #FF9999;
}

.x-row-task-closed div {
    color: grey;
    text-decoration: line-through !important;
}
.x-row-task-expired div {
    color: red;
}

.x-border-top {
    border-top: 1px solid #99BBE8 !important;
}

.x-border-bottom {
    border-bottom: 1px solid #99BBE8 !important;
}

.x-border-left {
    border-left: 1px solid #99BBE8 !important;
}

.x-border-right {
    border-right: 1px solid #99BBE8 !important;
}

.x-grid3-hd-row td.ux-filtered-column {   
    font-style: italic;  
    font-weight: bold;
}

.x-tab-strip .yellow-notes .x-tab-right,
.x-tab-strip .yellow-notes .x-tab-left,
.x-tab-strip .yellow-notes .x-tab-strip-inner {
    background-image: url(../images/tabs-sprite-yellow.gif);
}

.x-tab-strip .yellow-notes a.x-tab-strip-close {
    background-image: url(../images/tab-close-yellow.gif) !important;
}

/*for multiple calendar*/
.x-date-right, .x-date-left {
    height:16px;
}

.x-date-right a {
    float:right;
} 

.x-form-field-dirty {
    background: #FEFFBF !important;
}

/*for make visual hours in calendar (week planning)*/
.x-date-inner .x-date-planned-1 a {
    background:#ccfbaf !important;
}
.x-date-inner .x-date-planned-2 a {
    background:#9ef46a !important;
}
.x-date-inner .x-date-planned-3 a {
    background:#56d907 !important;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.x-hide-absoluteoffsets {
	position: absolute;
	left:-1000px;
	top:-1000px;
	visibility: visible;
	display: block;
}

.x-form-warning-icon {
    width: 16px;
    height: 18px;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: transparent url(../images/warning.gif) no-repeat 0 2px;
}

.x-small-editor .x-form-text {
	vertical-align: top !important;
}

div.search-item {
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	padding: 3px 10px 3px 10px;
	border-bottom: 1px solid #eeeeee;
}


#gallery {
    padding: 50px;    
}
#gallery .portfolio {
    width:100%;
    overflow:hidden;
    list-style-type:none;
    padding:0;
    margin:0;
}
#gallery .portfolio li {
    display:-moz-inline-box;
    display:inline-block;
    zoom:1;
    vertical-align:top; 
    width:300px;
    margin:0 21px 50px 0;
    padding:0;
    background:none;
    position:relative;
    font-size:13px;
    text-transform:none;
    border:none;
    }
* + html #gallery .portfolio li {
    display:inline;
    }
#gallery .portfolio li.nomargin {
    margin-right:0 !important;
    }
    #gallery .portfolio li span.image-border {
        display:block;
        border:13px solid white;
        height:191px;
        width:253px;
        position:relative;
        }
    
    #gallery .portfolio li a.image-wrap {
        display:block;
        overflow:hidden;
        height:191px;
        width:253px;
        position:relative;
        background:#000 url(images/loading-folio.gif) 50% 50% no-repeat;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        }
    #gallery .portfolio li a.image-wrap:hover {
        
        }
        #gallery .portfolio li a.image-wrap img {
            float:left;
            }
    
    #gallery .portfolio h3 {
        font-size:20px;
        font-family:'Neucha',cursive;
        font-weight:bold;
    }
        #gallery .portfolio h3 a {
            color:#008837;
            text-decoration:none;
            
            -webkit-transition:all 0.3s ease;
            -moz-transition:all 0.3s ease;
            -o-transition:all 0.3s ease;
        }
        #gallery .portfolio h3 a:hover {
            color:#d07008;
        }
    #gallery .portfolio .folio-desc {
        margin-bottom:0;
        padding:15px 0 0 0;
        }
    #gallery .portfolio p.excerpt {
        padding:0;
        }
    #gallery .portfolio .price {
        font-size:30px;
        line-height:1.2em;
        color:#ececec;
        font-family: 'Neucha', cursive;
        padding-top:2px;
    }
    #gallery .portfolio .price span {
        color:#d73d1b;
        padding-right:7px;
    }
    
    .zoom-icon {
        display:block;
        position:absolute;
        left:5px;
        top:-152px;
        height:191px;
        width:253px;
        background:url(images/magnify.png) 50% 50% no-repeat;
        cursor:pointer;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        }
    #gallery .portfolio li a.image-wrap:hover .zoom-icon {
        top:5px;
        }